.root {
  @apply bg-white block py-3 pt-3.5 px-3.5 w-full appearance-none transition duration-150 ease-in-out pr-10 border border-accent-3 text-base rounded-md font-semibold;
}

.wrapperRoot {
  @apply relative w-full;
}

.outlined {
  @apply rounded-md border border-gray-300 focus:outline-none focus:ring-0 focus:border-indigo-500;
}

.root:focus {
  @apply outline-none shadow-outline-normal;
}

.noStyle {
  @apply bg-transparent py-3 px-2 w-full appearance-none transition duration-150 ease-in-out pr-10  text-accent-6 rounded-md;
}

.wrapperShadow {
  @apply shadow-all-round rounded-lg border border-transparent;
}

.wrapperGray {
  @apply bg-gray-100 rounded-lg py-1;
}

.wrapperFlat {
  @apply border border-gray-200 rounded-lg py-1;
}

.gray {
  @apply bg-transparent;
}

.shadow,
.gray,
.flat {
  @apply border-0;
}

.shadow:focus,
.gray:focus,
.flat:focus {
  @apply outline-none shadow-none;
}

.wrapperShadowInvalid {
  @apply shadow-all-round-red border border-red-400 transition-all duration-500;
}

.wrapperGrayInvalid {
  @apply shadow-all-round-red border border-red-400 transition-all duration-500;
}

.wrapperFlatInvalid {
  @apply shadow-all-round-red border border-red-400 transition-all duration-500;
}

.noStyle:focus {
  @apply outline-none;
}

.invalid {
  @apply border border-red-400 focus:border-red-400;
}
